<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comfirmation</title>
</head>
<body>
    <h1>Thank you for your Order!</h1>
    <h2>Your ice cream order has been confirmed</h2>
    <p>Name: <%= order.name %> </p>
    <p>Email: <%= order.email %></p>
    <p>Flavor: <%= order.flavor %></p>
    <p>Cone: <%= order.cone %></p>
    <p>Toppings: <%= order.toppings %></p>

     <a href="/">Place an Order</a>

</body>
</html>